<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="description" content="spring-boot thymeleaf | home ">
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="tab-content">

    <div class="tab-pane active" id="addTaskTab">
        <div class="container">
            <div class="content-container clearfix">
                <div class="row">
                    <h1 class="content-title">Products</h1>
                </div>
                <span class="help-block"></span>
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <table class="table table-bordered  table-striped table-responsive">
                                <thead>
                                <tr class="btn-info">
                                    <th>ID Product</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Cost</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${#lists.isEmpty(products)}" class="btn-default">
                                    <td colspan="5" align="center">No Products Entered Yet!!!</td>
                                </tr>
                                <tr th:each="product : ${products}">
                                    <td th:text="${product.id}"></td>
                                    <td th:text="${product.name}"></td>
                                    <td th:text="${product.description}"></td>
                                    <td th:text="${product.quantity}"></td>
                                    <td th:text="${product.cost}"></td>
                                    <td th:hidden="${product.id}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="separator" th:replace="fragments/footer :: footer"></div>
</footer>

</body>
</html>
